.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100vw;
  background-color: white;
  min-height: 10vh;
  display: flex;  
  align-items: center;
  justify-content: space-evenly; 
  color: rgba(43,39,60,1); 
  font-size: 14px;
  line-height: 20px;
  z-index: 1000;

}

.App-logo-and-menu-container{
    display: flex;    
}

.App-main-section{
  display: flex;
  height: 100vh;
  position: relative;
  top: 100px;
}

.App-sidebar-left{
  min-width: 18vw;
  height: fit-content;
}

.App-sidebar-right{
  min-width: 25vw;
  padding: 0 10px;
}

.App-search-result-section{
  background-color: lightcoral;
  min-width: 57vw;
}


.App-search-bar-container{  
  box-shadow: lightgray 2px 5px 10px 6px;
  border-radius: 5px;
}



/*styles for right section of the header begins*/
.App-header-right-corner {
  display: inherit;
}


.App-header-right-corner div:first-child{
  margin: 0 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.App-header-right-corner div span{
  margin: 10px;
}

.App-header-right-corner div:first-child span{
  padding: 8px 10px;
  border-radius: 5px;
}

.App-header-right-corner div:first-child span:hover{  
   background-color:rgb(243, 239, 239);  
}

.App-header-right-corner div:first-child span:first-child{
  margin-right: 12px;
}

.App-header-right-corner div:first-child span:nth-child(2){
  margin-right: 12px;
}


.App-header-right-corner div:nth-child(2){ /**login and sign up links in the header**/
  margin: 0 5px 0 0;
}

.App-auth-link{
  cursor: pointer;
  padding: 5px 15px 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.App-login-link{
  border: 1px solid lightgrey;
}

.App-signup-link{
  background-color:rgb(244,13,21);  
  color: white;
}

.action-buttons{
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 3px 10px;
    color: #727070;
}
/*styles for right section of the header ends*/

/*styles for mobile view */

@media (min-width: 300px) and (max-width: 800px) {
  
  .App-header, .App-search-bar-container{
    flex-direction: column;   
  }
 

  .App-header-right-corner{
    display: none;
  }

  .App-search-bar-container {
    height: fit-content;
    box-shadow: none;
    background-color: #d32323;
    min-width: 100%;
    border-radius: 0px;
    margin-bottom: -20px;
  }

  .App-logo-and-menu-container{
    z-index: 5000;
    display: flex;
    align-self: flex-start;
    margin-top: -45px;
    /* margin-bottom: 10px; */
    background-color: #d32323;
}

  .yelp-logo {  
    margin-right: 330px;
    margin-left: 15px;
    width: 17vw;
    content:url("./assests/images/yelp-logo-mobile.png")
  }

  .mobile-menu-icon{
    z-index: 6000;
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
    color: white;  
  }

  
  div.mobile-menu-icon > svg{
    width: 1em;
    height: 1.5em;
  }

  .App-sidebar-left{
    display: flex;
    margin-top: 160px;
    background-color: white;
    max-width: 100%;
  }

  .App-search-result-section, .App-sidebar-right{
    /* display: none; */
  }

  .mobile-filter-list-map-links{
    display: flex;
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f2f2;
    justify-content: space-between;
    align-self: stretch;
    border: 1px solid lightgray;
  }

  
}